In [15]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import ssl

In [17]:
plt.style.use('fivethirtyeight')

In [25]:
ssl._create_default_https_context = ssl._create_unverified_context
url = 'https://github.com/mwaskom/seaborn-data/raw/master/tips.csv'
data = pd.read_csv(url)

In [27]:
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4