In [2]:
import numpy as np
import pandas as pd

In [4]:
delivery = pd.read_csv('deliveries.csv')

In [6]:
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [8]:
delivery.shape

(150460, 21)

In [55]:
high_runs_batsman = delivery.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head()

In [57]:
high_runs_batsman

batsman
SK Raina     4548
V Kohli      4423
RG Sharma    4207
G Gambhir    4132
DA Warner    4014
Name: batsman_runs, dtype: int64

In [69]:
# which batsmans hit most sixes in ipl
mask = delivery['batsman_runs'] == 6
new_delivery = delivery[mask]

In [71]:
new_delivery.shape

(6523, 21)

In [73]:
new_delivery.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False).head()

batsman
CH Gayle     266
SK Raina     174
RG Sharma    173
V Kohli      160
DA Warner    160
Name: batsman_runs, dtype: int64

In [75]:
vk = delivery[delivery['batsman'] == 'V Kohli']

In [77]:
vk.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head()

bowling_team
Chennai Super Kings    706
Delhi Daredevils       661
Kings XI Punjab        483
Mumbai Indians         447
Sunrisers Hyderabad    439
Name: batsman_runs, dtype: int64

In [87]:
# function for players hieght run vs team
def player_high_run_vs_team(name,top):
    bm = delivery[delivery['batsman'] == name]
    return bm.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head(top)

In [99]:
player_high_run_vs_team('DA Warner',3)

bowling_team
Kolkata Knight Riders          677
Kings XI Punjab                668
Royal Challengers Bangalore    569
Name: batsman_runs, dtype: int64

In [105]:
# isin()

In [158]:
death_over = delivery[delivery['over'] > 13]

In [160]:
all_batsman = death_over.groupby('batsman')['batsman_runs'].count()

In [162]:
x = all_batsman > 200
bats_man_list = all_batsman[x].index.tolist()

In [164]:
final = delivery[delivery['batsman'].isin(bats_man_list)]

In [166]:
runs = final.groupby('batsman')['batsman_runs'].sum()

In [168]:
balls = final.groupby('batsman')['batsman_runs'].count()

In [170]:
sr = (runs/balls)*100

In [172]:
sr.sort_values(ascending=False)

batsman
AD Russell        164.000000
CH Morris         159.636364
GJ Maxwell        157.564103
AB de Villiers    145.129059
CH Gayle          144.194313
                     ...
JH Kallis         105.936272
M Manhas          105.761317
P Kumar           105.263158
SC Ganguly        101.734540
A Mishra           89.005236
Name: batsman_runs, Length: 77, dtype: float64