In [2]:
import numpy as np
import pandas as pd

In [38]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [6]:
df = pd.read_csv('covid_toy.csv')

In [8]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [10]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [12]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],
                                                 test_size=0.2)

In [18]:
x_train

    age  gender  fever   cough       city
92   82  Female  102.0  Strong    Kolkata
45   72    Male   99.0    Mild  Bangalore
76   80    Male  100.0    Mild  Bangalore
12   25  Female   99.0  Strong    Kolkata
81   65    Male   99.0    Mild      Delhi
..  ...     ...    ...     ...        ...
65   69  Female  102.0    Mild  Bangalore
34   74    Male  102.0    Mild     Mumbai
16   69  Female  103.0    Mild    Kolkata
13   64    Male  102.0    Mild  Bangalore
39   50  Female  103.0    Mild    Kolkata

[80 rows x 5 columns]

Aam Zindagi

In [21]:
#adding simple imputer to fever col
si = SimpleImputer()
x_train_fever = si.fit_transform(x_train[['fever']])

#also the test data
x_test_fever = si.fit_transform(x_test[['fever']])

In [23]:
x_train_fever.shape

(80, 1)

In [25]:
#Ordinalencoding --> cough
oe = OrdinalEncoder(categories=[['Mild','Strong']])
x_train_cough = oe.fit_transform(x_train[['cough']])

#aslo the test data
x_test_cough = oe.fit_transform(x_test[['cough']])
x_train_cough.shape

(80, 1)

In [27]:
#OneHotEncoding --> gender, city
ohe = OneHotEncoder(drop='first',sparse=False)
x_train_gender_city = ohe.fit_transform(x_train[['gender','city']])

#also the test data
x_test_gender_city = ohe.fit_transform(x_test[['gender','city']])
x_train_gender_city.shape

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80, 4)

In [29]:
#Extracting Age
x_train_age = x_train.drop(columns=['gender','fever','cough','city']).values

#also the test data
x_test_age = x_test.drop(columns=['gender','fever','cough','city']).values
x_train_age.shape

(80, 1)

In [33]:
x_train_transformed = np.concatenate((x_train_age,x_train_fever,x_train_gender_city,x_train_cough),axis=1)
#also fot the test data
x_test_transformed = np.concatenate((x_test_age,x_test_fever,x_test_gender_city,x_test_cough),axis=1)
x_train_transformed.shape

(80, 7)

Mentos Zindagi

In [36]:
from sklearn.compose import ColumnTransformer

In [40]:
transformer = ColumnTransformer(transformers=[
    ('trnf_si',SimpleImputer(),['fever']),
    ('trnf_oe',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('trnf_ohe',OneHotEncoder(drop='first',sparse=False),['gender','city'])
],remainder='passthrough')

In [42]:
transformer.fit_transform(x_train).shape

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80, 7)

In [46]:
transformer.transform(x_test).shape

(20, 7)